<mat-card>
    <mat-card-title>
      <span *ngIf="quiz.id">Edit Quiz</span><!--If in edit mode-->
      <span *ngIf="!quiz.id">New Quiz</span>
    </mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="fullWidth">
          <input [(ngModel)]="quiz.title" name="title" matInput placeholder="Quiz Title">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="quiz.id" (click)="null" mat-button>EDIT</button>
      <button *ngIf="quiz.id" (click)="null" mat-button>NEW</button>
      <button *ngIf="!quiz.id" (click)="null" mat-button>POST</button>
  
    </mat-card-actions>
  </mat-card>